body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 12px 0;
  cursor: pointer;
}

.sidebar li:hover {
  color: #59f88a;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f3f4f6;
}
